/* regole reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}
img{
    max-width: 100%;
}

/* proprietà container */
.container{
    margin: 0 auto;
    width: 900px;
}
/* proprietà header */
header{
    text-align: center;
}
header .title-header{
    color: #e53870;
    padding: 30px;
}
.text{
    font-size: small;
}

/* proprietà cards */
.section-card{
    width: 250px;
    margin: 40px 10px 10px;
    float: left;
}
.card{
    background-color: black;
}
.card .image-card{
    width: 80px;
    float: left;
    margin-right: 10px;
}
.description-card{
    color: white;
    padding: 9px;
}
.role, address{
    font-size: small;
    margin: 4px;
}
address{
    color: #32aaff;
}
